In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score, auc, roc_auc_score
from sklearn import preprocessing
from sklearn import utils

In [28]:
train=pd.read_csv("/Users/girishelangovan/Documents/inceptez_batch_16/Dataset/Halloween/Dataset/Train.csv")
test=pd.read_csv("/Users/girishelangovan/Documents/inceptez_batch_16/Dataset/Halloween/Dataset/Test.csv")

In [29]:
train['type_data']='train'
test['type_data']='test'

In [30]:
train

,Product_id,Stall_no,instock_date,Market_Category,Customer_name,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price,type_data
0,BRAE2NF6JA5GUEXG,37.0,2015-08-22 18:36:12.000,2,Lillyann,Yes,Fashion,1,68,0.0,376.0,11.0,2983.0,4713.0,4185.947700,train
1,TUNE8SFB6RJN2HSD,38.0,2016-03-27 21:19:13.000,24,Klynn,Yes,Fashion,0,51,0.0,397.0,12.0,7495.0,10352.0,9271.490256,train
2,BRAEAR7WZPQGPBZU,9.0,2015-08-18 19:25:22.000,447,Ridge,Yes,Child_care,0,10,0.0,250.0,9.0,5752.0,7309.0,6785.701362,train
3,WATDZ2ZQ8JPDHCTJ,50.0,2016-03-28 21:53:01.000,23,Abran,Yes,Educational,2,48,0.0,144.0,13.0,5090.0,20814.0,13028.917824,train
4,JWSEBUKYQPMBZ3RK,7.0,2016-03-29 22:58:53.000,63,Dustyn,Yes,Repair,1,35,1.0,211.0,4.0,2430.0,9261.0,906.553935,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6363,WATE7VE2D62VEKW8,17.0,2016-03-28 19:55:43.000,24,Marquell,Yes,Technology,0,47,0.0,614.0,10.0,8174.0,11266.0,10277.520192,train
6364,SHOEF9G8Z4ZXF6WE,21.0,2015-02-11 15:09:26.000,55,Theodore,Yes,Child_care,0,35,0.0,269.0,5.0,3564.0,4920.0,4501.837200,train
6365,PBXEB9ZQ7HHCFXYG,36.0,2015-11-19 17:29:21.000,358,Galen,No,Repair,3,29,0.0,283.0,3.0,5303.0,14614.0,10218.878775,train
6366,NKCEAGXHRYTNTMG7,27.0,2015-12-08 04:19:33.000,452,Posey,Yes,Repair,0,8,0.0,267.0,3.0,4334.0,5849.0,5359.493997,train
6367,CAGE53FSAFWZRHFF,11.0,2016-01-20 19:45:35.000,58,Cutler,Yes,Technology,0,94,0.0,614.0,7.0,3975.0,5383.0,5220.013568,train

In [31]:
data = pd.concat([train,test])

In [32]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Stall_no,9792.0,25.422896,14.350386,1.00,13.00000,25.00000,38.000000,50.000000
Market_Category,9798.0,198.414064,169.767862,0.00,55.00000,129.00000,389.000000,471.000000
Grade,9798.0,0.652072,1.032439,0.00,0.00000,0.00000,2.000000,3.000000
Demand,9798.0,50.569810,28.918744,1.00,26.00000,50.00000,76.000000,100.000000
Discount_avail,9760.0,0.142520,0.349601,0.00,0.00000,0.00000,0.000000,1.000000
charges_1,9564.0,264.858637,124.776966,100.00,163.00000,252.00000,316.250000,649.000000
charges_2 (%),9588.0,10.249791,4.289862,1.00,7.00000,10.00000,14.000000,17.000000
Minimum_price,9746.0,3500.805664,2189.309453,1.00,1862.00000,3124.00000,4668.000000,17580.000000
Maximum_price,9455.0,6360.541830,3666.985837,163.00,3878.00000,5557.00000,8003.500000,58812.000000
Selling_Price,6327.0,4563.242592,2979.102408,-6062.47,2450.00528,4210.38464,6167.643252,22638.325941

In [33]:
data.isna().sum()

Product_id             0
Stall_no               6
instock_date           0
Market_Category        0
Customer_name        264
Loyalty_customer       0
Product_Category       0
Grade                  0
Demand                 0
Discount_avail        38
charges_1            234
charges_2 (%)        210
Minimum_price         52
Maximum_price        343
Selling_Price       3471
type_data              0
dtype: int64

In [34]:
data[data["Customer_name"].isna()]

,Product_id,Stall_no,instock_date,Market_Category,Customer_name,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price,type_data
15,CRTECN2QYG5PEBZC,15.0,2015-09-25 15:32:44.000,24,NaN,No,Educational,0,16,0.0,129.0,10.0,2915.0,4273.0,3726.217341,train
32,DKOEEY6F7TGXSD4X,35.0,2015-08-16 19:08:56.000,165,NaN,Yes,Cosmetics,0,23,0.0,222.0,14.0,4818.0,7435.0,6341.187300,train
116,TLPEG6GSDFSCZPF2,26.0,2015-11-13 14:05:16.000,443,NaN,Yes,Pet_care,0,65,0.0,157.0,7.0,4871.0,6745.0,5909.379300,train
122,MUGEAGGKHSCYMGZG,7.0,2015-09-22 16:18:42.000,23,NaN,No,Organic,1,57,0.0,139.0,9.0,2587.0,4660.0,3741.659136,train
166,SHOEHYEX8J32HYWR,26.0,2015-08-23 18:36:19.000,367,NaN,Yes,Cosmetics,0,78,0.0,204.0,15.0,2592.0,NaN,3657.287700,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3083,SHOECJD5WVAGAJEH,16.0,2015-04-03 22:58:17.000,470,NaN,Yes,Child_care,0,71,1.0,NaN,10.0,2857.0,3901.0,NaN,test
3238,TOPE8E8NZP256K8G,9.0,2015-05-07 16:13:25.000,54,NaN,No,Cosmetics,2,88,0.0,293.0,16.0,3368.0,5468.0,NaN,test
3254,WATECKYCCMXUQQMS,39.0,2015-05-05 14:09:22.000,423,NaN,Yes,Technology,0,27,0.0,629.0,14.0,3267.0,7931.0,NaN,test
3316,TOPE8N3BAE7QWZFY,1.0,2015-05-07 16:12:57.000,23,NaN,No,Child_care,2,93,1.0,256.0,14.0,5928.0,8491.0,NaN,test
3423,NDNEJRAZNQBZQWQK,11.0,2015-07-26 00:15:12.000,358,NaN,Yes,Home_decor,3,100,0.0,287.0,13.0,10859.0,14173.0,NaN,test

In [35]:
data["Discount_avail"].value_counts()

0.0    8369
1.0    1391
Name: Discount_avail, dtype: int64

In [36]:
data["charges_1"].value_counts()

101.0    64
147.0    60
129.0    58
266.0    58
284.0    57
         ..
552.0     1
568.0     1
574.0     1
493.0     1
542.0     1
Name: charges_1, Length: 494, dtype: int64

In [37]:
data["charges_2 (%)"].value_counts()

14.0    780
7.0     760
9.0     689
12.0    686
6.0     684
13.0    683
5.0     683
8.0     677
11.0    667
16.0    665
17.0    642
15.0    630
10.0    542
3.0     213
4.0     203
1.0     192
2.0     192
Name: charges_2 (%), dtype: int64

In [38]:
data["Minimum_price"].value_counts()

962.0     8
2779.0    8
3311.0    8
2097.0    8
2430.0    7
         ..
3583.0    1
6552.0    1
4181.0    1
6063.0    1
4381.0    1
Name: Minimum_price, Length: 5379, dtype: int64

In [39]:
data["Customer_name"].value_counts()

Honor         2
Ellison       2
Damani        2
Lian          2
Wylie         2
             ..
Karas         1
Bryston       1
Davonte       1
Ailynn        1
Montgomery    1
Name: Customer_name, Length: 8959, dtype: int64

In [40]:
data.duplicated().sum()

0

In [41]:
data["Customer_name"].fillna("unknown",inplace=True)

In [42]:
data[data["Customer_name"].isna()]

Empty DataFrame
Columns: [Product_id, Stall_no, instock_date, Market_Category, Customer_name, Loyalty_customer, Product_Category, Grade, Demand, Discount_avail, charges_1, charges_2 (%), Minimum_price, Maximum_price, Selling_Price, type_data]
Index: []

In [43]:
data[data["Discount_avail"].isna()]

,Product_id,Stall_no,instock_date,Market_Category,Customer_name,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price,type_data
64,NKCECW7BSTZBHH6R,2.0,2015-09-24 17:26:11.000,268,Tyrus,Yes,Hospitality,2,28,NaN,340.0,9.0,945.0,2956.0,NaN,train
128,SHIEHXZEWWACSXRQ,26.0,2015-11-12 15:20:20.000,62,Kaizen,Yes,Child_care,0,70,NaN,290.0,7.0,2895.0,12275.0,7801.506900,train
275,SCFEHFMHWZNYMH9C,45.0,2015-05-05 15:10:20.000,73,Amir,No,Repair,0,87,NaN,208.0,8.0,1133.0,1608.0,233.528064,train
398,CRTECN2QUCD97JY3,25.0,2015-09-23 14:31:58.000,65,Jan,Yes,Educational,0,73,NaN,139.0,16.0,1245.0,2872.0,2178.782100,train
470,SHIE9WHT4M9FHMB5,24.0,2015-05-05 16:10:27.000,235,Elliot,Yes,Home_decor,2,2,NaN,297.0,15.0,3132.0,6194.0,744.973995,train
812,PTPE3KKX3DBHYFVX,24.0,2015-10-21 00:09:55.000,3,Azari,No,Repair,0,85,NaN,223.0,9.0,3098.0,4153.0,569.444198,train
822,WATEHYMDBDZAYJ4E,25.0,2015-11-10 16:09:21.000,471,Jalisa,Yes,Home_decor,2,25,NaN,290.0,14.0,2183.0,4942.0,577.176941,train
888,JEAECN2PWUKFA9GJ,23.0,2014-12-06 15:25:52.000,460,Hudson,No,Home_decor,3,82,NaN,213.0,17.0,252.0,NaN,539.684992,train
1162,BRAE8EHTZYYGGETT,13.0,2015-08-20 21:31:51.000,423,Tania,No,Hospitality,0,52,NaN,319.0,9.0,1546.0,5653.0,3896.640864,train
1280,NKCE3Y6E4VQWEHZS,33.0,2015-09-26 13:18:31.000,205,Marigold,No,Child_care,0,61,NaN,342.0,17.0,2121.0,3310.0,3031.498800,train
1633,MUGEAGGKFBTYPN4Z,36.0,2015-09-22 17:26:36.000,65,Leen,Yes,Hospitality,2,65,NaN,347.0,6.0,2832.0,4073.0,3763.554300,train
1786,PLLEHQTTGJSKEGXQ,18.0,2015-08-22 21:37:05.000,320,Letty,No,Hospitality,0,17,NaN,300.0,7.0,640.0,4444.0,2843.495622,train
1848,BRAEFUKZUHFRJGHZ,2.0,2015-08-20 21:36:10.000,2,Aniston,No,Educational,1,40,NaN,167.0,12.0,3067.0,5108.0,4163.573275,train
2094,SHIEBWNUNANV22KB,4.0,2015-08-15 21:15:41.000,198,Romina,Yes,Repair,2,72,NaN,221.0,9.0,4510.0,6168.0,5509.161900,train
2446,BBAE6GAWXPSTTPC8,46.0,2015-08-15 22:19:52.000,447,Bentlee,Yes,Organic,0,3,NaN,128.0,7.0,5559.0,7167.0,6494.800455,train
2535,ABQEJ7YQTNQGMXZV,5.0,2015-05-05 14:13:05.000,443,Graham,Yes,Repair,0,88,NaN,294.0,6.0,4005.0,5506.0,4979.596160,train
2802,NKCDU4RZESHQBS8M,3.0,2015-09-24 15:23:29.000,65,Alyce,No,Child_care,2,17,NaN,307.0,15.0,2303.0,3841.0,3383.271639,train
3050,SCHE5Z57FHVKZD3C,50.0,2015-11-21 06:56:17.000,24,Mei,Yes,Child_care,0,43,NaN,337.0,15.0,6140.0,8403.0,7570.645776,train
3223,ACCEGYP2ZNGRUETZ,10.0,2015-09-13 20:17:07.000,23,Emberly,Yes,Home_decor,2,35,NaN,NaN,10.0,1670.0,3686.0,2889.438300,train
3402,MUGE9HRRGGXQ8XUN,10.0,2015-09-22 17:30:19.000,452,Ela,Yes,Educational,0,1,NaN,130.0,10.0,2999.0,3715.0,523.501645,train
3598,DREEDVHXJGJWQHVE,4.0,2015-05-06 17:20:59.000,55,Colt,Yes,Home_decor,0,16,NaN,238.0,13.0,4065.0,5515.0,5033.726577,train
3609,PLWE6S4AVYSK8KHT,26.0,2015-05-06 16:20:59.000,167,Angel,Yes,Fashion,0,33,NaN,376.0,13.0,4454.0,6442.0,5816.502300,train
3673,CRTECN2QVB5MFPF8,38.0,2015-09-26 14:23:34.000,3,Edyn,No,Repair,0,64,NaN,290.0,8.0,1898.0,3581.0,3001.373100,train
4525,SHIEBTT27V3NTDKK,42.0,2015-09-24 14:19:57.000,198,Anisha,No,Hospitality,0,36,NaN,267.0,5.0,2326.0,3331.0,3089.167725,train
4884,SHOEDD2H6ZHT9YNQ,15.0,2015-04-21 16:02:59.000,188,Braxton,Yes,Fashion,0,37,NaN,381.0,12.0,3601.0,4924.0,4636.998450,train
4900,LCHEH4GTFX23CPZR,28.0,2015-05-20 04:58:29.000,268,Karter,Yes,Educational,2,79,NaN,166.0,8.0,2458.0,5137.0,3926.874600,train
4932,BRAEDTPHWGSGJY6C,20.0,2015-08-18 23:15:28.000,149,Annelise,No,Child_care,0,13,NaN,322.0,7.0,7162.0,9599.0,1306.124874,train
5305,CRTECN2QXGUXXZUG,41.0,2015-09-26 16:31:58.000,198,Rayan,No,Educational,0,18,NaN,149.0,17.0,3080.0,4324.0,3856.904271,train
5421,DKOECHX3NXXNMSHA,40.0,2015-08-17 00:31:36.000,56,Alianna,No,Cosmetics,0,34,NaN,272.0,16.0,1095.0,1629.0,1632.089550,train
5445,CRTECN2QVPYHYVF5,6.0,2015-09-26 17:22:13.000,447,Jaycen,No,Technology,0,1,NaN,633.0,14.0,1332.0,3523.0,3063.593610,train
5504,PLLEHQW7BYQDVKAY,30.0,2015-08-23 17:36:19.000,3,Kathy,Yes,Child_care,0,31,NaN,274.0,12.0,1202.0,2294.0,2019.039750,train
5539,WATECGPSDSFRHUSY,31.0,2015-02-07 14:09:26.000,275,Easton,Yes,Fashion,0,1,NaN,375.0,12.0,3958.0,4961.0,4839.366015,train
5740,SHOEF9G8EWYMM2AM,39.0,2015-02-07 14:09:26.000,294,Jose,Yes,Hospitality,2,2,NaN,323.0,NaN,2097.0,5843.0,4296.140343,train
5742,NKCEAX7HZFXWVSTA,39.0,2015-11-21 04:56:11.000,186,Rebel,Yes,Repair,0,11,NaN,NaN,4.0,3684.0,5139.0,4657.794174,train
5787,TSHEGEFHBFVF5QZH,25.0,2015-08-23 20:48:44.000,447,Sahana,No,Organic,0,18,NaN,123.0,7.0,4363.0,6696.0,5655.804363,train
6085,CLTEGMPW379HKACN,25.0,2015-05-24 03:41:36.000,452,Bronson,Yes,Cosmetics,0,68,NaN,258.0,15.0,4829.0,6606.0,5924.239200,train
6116,NKCDXU3QDCXYHZD4,46.0,2015-09-24 21:11:28.000,65,Shira,Yes,Fashion,2,21,NaN,360.0,15.0,2236.0,4118.0,3532.915575,train
6192,TOPE5FA76AAGXYTE,7.0,2015-08-22 19:36:36.000,358,Tahlia,Yes,Technology,3,52,NaN,551.0,12.0,2991.0,6576.0,5306.062464,train

In [44]:
data["Discount_avail"].fillna(0.0,inplace=True)

In [45]:
data[data["charges_1"].notna()]

,Product_id,Stall_no,instock_date,Market_Category,Customer_name,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price,type_data
0,BRAE2NF6JA5GUEXG,37.0,2015-08-22 18:36:12.000,2,Lillyann,Yes,Fashion,1,68,0.0,376.0,11.0,2983.0,4713.0,4185.947700,train
1,TUNE8SFB6RJN2HSD,38.0,2016-03-27 21:19:13.000,24,Klynn,Yes,Fashion,0,51,0.0,397.0,12.0,7495.0,10352.0,9271.490256,train
2,BRAEAR7WZPQGPBZU,9.0,2015-08-18 19:25:22.000,447,Ridge,Yes,Child_care,0,10,0.0,250.0,9.0,5752.0,7309.0,6785.701362,train
3,WATDZ2ZQ8JPDHCTJ,50.0,2016-03-28 21:53:01.000,23,Abran,Yes,Educational,2,48,0.0,144.0,13.0,5090.0,20814.0,13028.917824,train
4,JWSEBUKYQPMBZ3RK,7.0,2016-03-29 22:58:53.000,63,Dustyn,Yes,Repair,1,35,1.0,211.0,4.0,2430.0,9261.0,906.553935,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3425,BBAE9K7BXFUTDNBK,9.0,2015-08-15 21:17:17.000,58,Davion,Yes,Pet_care,0,39,0.0,117.0,5.0,3094.0,4674.0,NaN,test
3426,RTRDYPA4PJHCJCGF,30.0,2015-12-04 01:51:47.000,358,Maiah,Yes,Technology,3,17,0.0,509.0,6.0,3384.0,14105.0,NaN,test
3427,TUNE8FWQBS7TVVT7,14.0,2016-03-28 20:55:47.000,106,Gwendolen,Yes,Educational,0,36,0.0,150.0,17.0,710.0,10894.0,NaN,test
3428,NKCEGMUABCRGUZPE,1.0,2015-05-23 07:41:36.000,104,Addilynn,Yes,Child_care,0,63,0.0,325.0,15.0,1477.0,5165.0,NaN,test
3429,RNGE7M92KAQWUBCS,3.0,2015-08-16 22:19:46.000,165,Charlize,No,Repair,0,92,1.0,228.0,9.0,5538.0,7506.0,NaN,test

In [46]:
data["charges_1"]=data.groupby("Product_Category").charges_1.transform(lambda x : x.fillna(x.mean()))

In [47]:
data[data["charges_1"].isna()]

Empty DataFrame
Columns: [Product_id, Stall_no, instock_date, Market_Category, Customer_name, Loyalty_customer, Product_Category, Grade, Demand, Discount_avail, charges_1, charges_2 (%), Minimum_price, Maximum_price, Selling_Price, type_data]
Index: []

In [52]:
data = data.rename(columns={"charges_2 (%)":"charges_2_percent"})

In [53]:
data.head()

,Product_id,Stall_no,instock_date,Market_Category,Customer_name,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2_percent,Minimum_price,Maximum_price,Selling_Price,type_data
0,BRAE2NF6JA5GUEXG,37.0,2015-08-22 18:36:12.000,2,Lillyann,Yes,Fashion,1,68,0.0,376.0,11.0,2983.0,4713.0,4185.947700,train
1,TUNE8SFB6RJN2HSD,38.0,2016-03-27 21:19:13.000,24,Klynn,Yes,Fashion,0,51,0.0,397.0,12.0,7495.0,10352.0,9271.490256,train
2,BRAEAR7WZPQGPBZU,9.0,2015-08-18 19:25:22.000,447,Ridge,Yes,Child_care,0,10,0.0,250.0,9.0,5752.0,7309.0,6785.701362,train
3,WATDZ2ZQ8JPDHCTJ,50.0,2016-03-28 21:53:01.000,23,Abran,Yes,Educational,2,48,0.0,144.0,13.0,5090.0,20814.0,13028.917824,train
4,JWSEBUKYQPMBZ3RK,7.0,2016-03-29 22:58:53.000,63,Dustyn,Yes,Repair,1,35,1.0,211.0,4.0,2430.0,9261.0,906.553935,train

In [54]:
data.groupby("charges_1").charges_2_percent.mean()

charges_1
100.0     7.800000
101.0     7.885246
102.0     7.681818
103.0     7.116279
104.0     7.863636
           ...
645.0     9.500000
646.0    10.666667
647.0    11.333333
648.0    16.000000
649.0     8.500000
Name: charges_2_percent, Length: 504, dtype: float64

In [55]:
data["charges_2_percent"]=data.groupby("charges_1").charges_2_percent.transform(lambda x : x.fillna(x.mean()))

In [56]:
data

,Product_id,Stall_no,instock_date,Market_Category,Customer_name,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2_percent,Minimum_price,Maximum_price,Selling_Price,type_data
0,BRAE2NF6JA5GUEXG,37.0,2015-08-22 18:36:12.000,2,Lillyann,Yes,Fashion,1,68,0.0,376.0,11.0,2983.0,4713.0,4185.947700,train
1,TUNE8SFB6RJN2HSD,38.0,2016-03-27 21:19:13.000,24,Klynn,Yes,Fashion,0,51,0.0,397.0,12.0,7495.0,10352.0,9271.490256,train
2,BRAEAR7WZPQGPBZU,9.0,2015-08-18 19:25:22.000,447,Ridge,Yes,Child_care,0,10,0.0,250.0,9.0,5752.0,7309.0,6785.701362,train
3,WATDZ2ZQ8JPDHCTJ,50.0,2016-03-28 21:53:01.000,23,Abran,Yes,Educational,2,48,0.0,144.0,13.0,5090.0,20814.0,13028.917824,train
4,JWSEBUKYQPMBZ3RK,7.0,2016-03-29 22:58:53.000,63,Dustyn,Yes,Repair,1,35,1.0,211.0,4.0,2430.0,9261.0,906.553935,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3425,BBAE9K7BXFUTDNBK,9.0,2015-08-15 21:17:17.000,58,Davion,Yes,Pet_care,0,39,0.0,117.0,5.0,3094.0,4674.0,NaN,test
3426,RTRDYPA4PJHCJCGF,30.0,2015-12-04 01:51:47.000,358,Maiah,Yes,Technology,3,17,0.0,509.0,6.0,3384.0,14105.0,NaN,test
3427,TUNE8FWQBS7TVVT7,14.0,2016-03-28 20:55:47.000,106,Gwendolen,Yes,Educational,0,36,0.0,150.0,17.0,710.0,10894.0,NaN,test
3428,NKCEGMUABCRGUZPE,1.0,2015-05-23 07:41:36.000,104,Addilynn,Yes,Child_care,0,63,0.0,325.0,15.0,1477.0,5165.0,NaN,test
3429,RNGE7M92KAQWUBCS,3.0,2015-08-16 22:19:46.000,165,Charlize,No,Repair,0,92,1.0,228.0,9.0,5538.0,7506.0,NaN,test

In [57]:
data[data["charges_2_percent"].isna()]

Empty DataFrame
Columns: [Product_id, Stall_no, instock_date, Market_Category, Customer_name, Loyalty_customer, Product_Category, Grade, Demand, Discount_avail, charges_1, charges_2_percent, Minimum_price, Maximum_price, Selling_Price, type_data]
Index: []

In [58]:
data.describe()

,Stall_no,Market_Category,Grade,Demand,Discount_avail,charges_1,charges_2_percent,Minimum_price,Maximum_price,Selling_Price
count,9792.000000,9798.000000,9798.000000,9798.000000,9798.000000,9798.000000,9798.000000,9746.000000,9455.000000,6327.000000
mean,25.422896,198.414064,0.652072,50.569810,0.141968,265.263660,10.249001,3500.805664,6360.541830,4563.242592
std,14.350386,169.767862,1.032439,28.918744,0.349035,124.702185,4.254244,2189.309453,3666.985837,2979.102408
min,1.000000,0.000000,0.000000,1.000000,0.000000,100.000000,1.000000,1.000000,163.000000,-6062.470000
25%,13.000000,55.000000,0.000000,26.000000,0.000000,163.000000,7.000000,1862.000000,3878.000000,2450.005280
50%,25.000000,129.000000,0.000000,50.000000,0.000000,252.000000,10.000000,3124.000000,5557.000000,4210.384640
75%,38.000000,389.000000,2.000000,76.000000,0.000000,316.000000,14.000000,4668.000000,8003.500000,6167.643252
max,50.000000,471.000000,3.000000,100.000000,1.000000,649.000000,17.000000,17580.000000,58812.000000,22638.325941

In [59]:
data["Minimum_price"].describe()

count     9746.000000
mean      3500.805664
std       2189.309453
min          1.000000
25%       1862.000000
50%       3124.000000
75%       4668.000000
max      17580.000000
Name: Minimum_price, dtype: float64

In [60]:
data.Loyalty_customer = data.Loyalty_customer.astype("category")
data.Product_Category = data.Product_Category.astype("category")

In [61]:
data

,Product_id,Stall_no,instock_date,Market_Category,Customer_name,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2_percent,Minimum_price,Maximum_price,Selling_Price,type_data
0,BRAE2NF6JA5GUEXG,37.0,2015-08-22 18:36:12.000,2,Lillyann,Yes,Fashion,1,68,0.0,376.0,11.0,2983.0,4713.0,4185.947700,train
1,TUNE8SFB6RJN2HSD,38.0,2016-03-27 21:19:13.000,24,Klynn,Yes,Fashion,0,51,0.0,397.0,12.0,7495.0,10352.0,9271.490256,train
2,BRAEAR7WZPQGPBZU,9.0,2015-08-18 19:25:22.000,447,Ridge,Yes,Child_care,0,10,0.0,250.0,9.0,5752.0,7309.0,6785.701362,train
3,WATDZ2ZQ8JPDHCTJ,50.0,2016-03-28 21:53:01.000,23,Abran,Yes,Educational,2,48,0.0,144.0,13.0,5090.0,20814.0,13028.917824,train
4,JWSEBUKYQPMBZ3RK,7.0,2016-03-29 22:58:53.000,63,Dustyn,Yes,Repair,1,35,1.0,211.0,4.0,2430.0,9261.0,906.553935,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3425,BBAE9K7BXFUTDNBK,9.0,2015-08-15 21:17:17.000,58,Davion,Yes,Pet_care,0,39,0.0,117.0,5.0,3094.0,4674.0,NaN,test
3426,RTRDYPA4PJHCJCGF,30.0,2015-12-04 01:51:47.000,358,Maiah,Yes,Technology,3,17,0.0,509.0,6.0,3384.0,14105.0,NaN,test
3427,TUNE8FWQBS7TVVT7,14.0,2016-03-28 20:55:47.000,106,Gwendolen,Yes,Educational,0,36,0.0,150.0,17.0,710.0,10894.0,NaN,test
3428,NKCEGMUABCRGUZPE,1.0,2015-05-23 07:41:36.000,104,Addilynn,Yes,Child_care,0,63,0.0,325.0,15.0,1477.0,5165.0,NaN,test
3429,RNGE7M92KAQWUBCS,3.0,2015-08-16 22:19:46.000,165,Charlize,No,Repair,0,92,1.0,228.0,9.0,5538.0,7506.0,NaN,test

In [62]:
data.corr()

,Stall_no,Market_Category,Grade,Demand,Discount_avail,charges_1,charges_2_percent,Minimum_price,Maximum_price,Selling_Price
Stall_no,1.000000,-0.004640,-0.007657,0.001131,-0.009097,-0.009967,-0.004983,-0.003594,-0.003722,0.011733
Market_Category,-0.004640,1.000000,-0.034454,-0.016015,-0.000667,0.020741,0.015577,0.199157,0.145157,0.138711
Grade,-0.007657,-0.034454,1.000000,0.003140,-0.027201,-0.018084,-0.014497,-0.078641,0.168312,0.086450
Demand,0.001131,-0.016015,0.003140,1.000000,-0.002211,-0.001248,0.013101,-0.007958,-0.012103,-0.000601
Discount_avail,-0.009097,-0.000667,-0.027201,-0.002211,1.000000,-0.001653,0.018712,0.013615,0.002276,-0.510635
charges_1,-0.009967,0.020741,-0.018084,-0.001248,-0.001653,1.000000,0.277852,0.023456,0.019645,0.051906
charges_2_percent,-0.004983,0.015577,-0.014497,0.013101,0.018712,0.277852,1.000000,0.011449,0.009025,0.008500
Minimum_price,-0.003594,0.199157,-0.078641,-0.007958,0.013615,0.023456,0.011449,1.000000,0.720077,0.700444
Maximum_price,-0.003722,0.145157,0.168312,-0.012103,0.002276,0.019645,0.009025,0.720077,1.000000,0.766928
Selling_Price,0.011733,0.138711,0.086450,-0.000601,-0.510635,0.051906,0.008500,0.700444,0.766928,1.000000

In [63]:

data.instock_date.dtype

dtype('O')

In [64]:
data.instock_date = pd.to_datetime(data.instock_date)

In [65]:
data['year'] = data['instock_date'].dt.year 
data['month'] = data['instock_date'].dt.month 
data['day'] = data['instock_date'].dt.day 
data['hour'] = data['instock_date'].dt.hour

In [66]:
data = pd.get_dummies(data, columns = ["Grade", "Product_Category", "Loyalty_customer"], drop_first = True)

In [67]:
data

,Product_id,Stall_no,instock_date,Market_Category,Customer_name,Demand,Discount_avail,charges_1,charges_2_percent,Minimum_price,...,Product_Category_Cosmetics,Product_Category_Educational,Product_Category_Fashion,Product_Category_Home_decor,Product_Category_Hospitality,Product_Category_Organic,Product_Category_Pet_care,Product_Category_Repair,Product_Category_Technology,Loyalty_customer_Yes
0,BRAE2NF6JA5GUEXG,37.0,2015-08-22 18:36:12,2,Lillyann,68,0.0,376.0,11.0,2983.0,...,0,0,1,0,0,0,0,0,0,1
1,TUNE8SFB6RJN2HSD,38.0,2016-03-27 21:19:13,24,Klynn,51,0.0,397.0,12.0,7495.0,...,0,0,1,0,0,0,0,0,0,1
2,BRAEAR7WZPQGPBZU,9.0,2015-08-18 19:25:22,447,Ridge,10,0.0,250.0,9.0,5752.0,...,0,0,0,0,0,0,0,0,0,1
3,WATDZ2ZQ8JPDHCTJ,50.0,2016-03-28 21:53:01,23,Abran,48,0.0,144.0,13.0,5090.0,...,0,1,0,0,0,0,0,0,0,1
4,JWSEBUKYQPMBZ3RK,7.0,2016-03-29 22:58:53,63,Dustyn,35,1.0,211.0,4.0,2430.0,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3425,BBAE9K7BXFUTDNBK,9.0,2015-08-15 21:17:17,58,Davion,39,0.0,117.0,5.0,3094.0,...,0,0,0,0,0,0,1,0,0,1
3426,RTRDYPA4PJHCJCGF,30.0,2015-12-04 01:51:47,358,Maiah,17,0.0,509.0,6.0,3384.0,...,0,0,0,0,0,0,0,0,1,1
3427,TUNE8FWQBS7TVVT7,14.0,2016-03-28 20:55:47,106,Gwendolen,36,0.0,150.0,17.0,710.0,...,0,1,0,0,0,0,0,0,0,1
3428,NKCEGMUABCRGUZPE,1.0,2015-05-23 07:41:36,104,Addilynn,63,0.0,325.0,15.0,1477.0,...,0,0,0,0,0,0,0,0,0,1
3429,RNGE7M92KAQWUBCS,3.0,2015-08-16 22:19:46,165,Charlize,92,1.0,228.0,9.0,5538.0,...,0,0,0,0,0,0,0,1,0,0

In [69]:
train

,Product_id,Stall_no,instock_date,Market_Category,Customer_name,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price,type_data
0,BRAE2NF6JA5GUEXG,37.0,2015-08-22 18:36:12.000,2,Lillyann,Yes,Fashion,1,68,0.0,376.0,11.0,2983.0,4713.0,4185.947700,train
1,TUNE8SFB6RJN2HSD,38.0,2016-03-27 21:19:13.000,24,Klynn,Yes,Fashion,0,51,0.0,397.0,12.0,7495.0,10352.0,9271.490256,train
2,BRAEAR7WZPQGPBZU,9.0,2015-08-18 19:25:22.000,447,Ridge,Yes,Child_care,0,10,0.0,250.0,9.0,5752.0,7309.0,6785.701362,train
3,WATDZ2ZQ8JPDHCTJ,50.0,2016-03-28 21:53:01.000,23,Abran,Yes,Educational,2,48,0.0,144.0,13.0,5090.0,20814.0,13028.917824,train
4,JWSEBUKYQPMBZ3RK,7.0,2016-03-29 22:58:53.000,63,Dustyn,Yes,Repair,1,35,1.0,211.0,4.0,2430.0,9261.0,906.553935,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6363,WATE7VE2D62VEKW8,17.0,2016-03-28 19:55:43.000,24,Marquell,Yes,Technology,0,47,0.0,614.0,10.0,8174.0,11266.0,10277.520192,train
6364,SHOEF9G8Z4ZXF6WE,21.0,2015-02-11 15:09:26.000,55,Theodore,Yes,Child_care,0,35,0.0,269.0,5.0,3564.0,4920.0,4501.837200,train
6365,PBXEB9ZQ7HHCFXYG,36.0,2015-11-19 17:29:21.000,358,Galen,No,Repair,3,29,0.0,283.0,3.0,5303.0,14614.0,10218.878775,train
6366,NKCEAGXHRYTNTMG7,27.0,2015-12-08 04:19:33.000,452,Posey,Yes,Repair,0,8,0.0,267.0,3.0,4334.0,5849.0,5359.493997,train
6367,CAGE53FSAFWZRHFF,11.0,2016-01-20 19:45:35.000,58,Cutler,Yes,Technology,0,94,0.0,614.0,7.0,3975.0,5383.0,5220.013568,train

In [70]:
train = train[train["Selling_Price"] > 0]

In [71]:
train

,Product_id,Stall_no,instock_date,Market_Category,Customer_name,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price,type_data
0,BRAE2NF6JA5GUEXG,37.0,2015-08-22 18:36:12.000,2,Lillyann,Yes,Fashion,1,68,0.0,376.0,11.0,2983.0,4713.0,4185.947700,train
1,TUNE8SFB6RJN2HSD,38.0,2016-03-27 21:19:13.000,24,Klynn,Yes,Fashion,0,51,0.0,397.0,12.0,7495.0,10352.0,9271.490256,train
2,BRAEAR7WZPQGPBZU,9.0,2015-08-18 19:25:22.000,447,Ridge,Yes,Child_care,0,10,0.0,250.0,9.0,5752.0,7309.0,6785.701362,train
3,WATDZ2ZQ8JPDHCTJ,50.0,2016-03-28 21:53:01.000,23,Abran,Yes,Educational,2,48,0.0,144.0,13.0,5090.0,20814.0,13028.917824,train
4,JWSEBUKYQPMBZ3RK,7.0,2016-03-29 22:58:53.000,63,Dustyn,Yes,Repair,1,35,1.0,211.0,4.0,2430.0,9261.0,906.553935,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6363,WATE7VE2D62VEKW8,17.0,2016-03-28 19:55:43.000,24,Marquell,Yes,Technology,0,47,0.0,614.0,10.0,8174.0,11266.0,10277.520192,train
6364,SHOEF9G8Z4ZXF6WE,21.0,2015-02-11 15:09:26.000,55,Theodore,Yes,Child_care,0,35,0.0,269.0,5.0,3564.0,4920.0,4501.837200,train
6365,PBXEB9ZQ7HHCFXYG,36.0,2015-11-19 17:29:21.000,358,Galen,No,Repair,3,29,0.0,283.0,3.0,5303.0,14614.0,10218.878775,train
6366,NKCEAGXHRYTNTMG7,27.0,2015-12-08 04:19:33.000,452,Posey,Yes,Repair,0,8,0.0,267.0,3.0,4334.0,5849.0,5359.493997,train
6367,CAGE53FSAFWZRHFF,11.0,2016-01-20 19:45:35.000,58,Cutler,Yes,Technology,0,94,0.0,614.0,7.0,3975.0,5383.0,5220.013568,train

In [72]:
train=data[data['type_data']=='train']
del train['type_data']
train.columns

Index(['Product_id', 'Stall_no', 'instock_date', 'Market_Category',
       'Customer_name', 'Demand', 'Discount_avail', 'charges_1',
       'charges_2_percent', 'Minimum_price', 'Maximum_price', 'Selling_Price',
       'year', 'month', 'day', 'hour', 'Grade_1', 'Grade_2', 'Grade_3',
       'Product_Category_Cosmetics', 'Product_Category_Educational',
       'Product_Category_Fashion', 'Product_Category_Home_decor',
       'Product_Category_Hospitality', 'Product_Category_Organic',
       'Product_Category_Pet_care', 'Product_Category_Repair',
       'Product_Category_Technology', 'Loyalty_customer_Yes'],
      dtype='object')

In [73]:
test=data[data['type_data']=='test']
test.drop(["type_data", "Selling_Price"],axis=1,inplace=True)
test.columns

/Users/girishelangovan/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

Index(['Product_id', 'Stall_no', 'instock_date', 'Market_Category',
       'Customer_name', 'Demand', 'Discount_avail', 'charges_1',
       'charges_2_percent', 'Minimum_price', 'Maximum_price', 'year', 'month',
       'day', 'hour', 'Grade_1', 'Grade_2', 'Grade_3',
       'Product_Category_Cosmetics', 'Product_Category_Educational',
       'Product_Category_Fashion', 'Product_Category_Home_decor',
       'Product_Category_Hospitality', 'Product_Category_Organic',
       'Product_Category_Pet_care', 'Product_Category_Repair',
       'Product_Category_Technology', 'Loyalty_customer_Yes'],
      dtype='object')

In [74]:
train = train[train["Selling_Price"] > 0]

In [75]:

columns = ["Stall_no", "Product_id", "instock_date","Customer_name",
           "month", "day"]
train = train.drop(columns=columns)

In [76]:
train

,Market_Category,Demand,Discount_avail,charges_1,charges_2_percent,Minimum_price,Maximum_price,Selling_Price,year,hour,...,Product_Category_Cosmetics,Product_Category_Educational,Product_Category_Fashion,Product_Category_Home_decor,Product_Category_Hospitality,Product_Category_Organic,Product_Category_Pet_care,Product_Category_Repair,Product_Category_Technology,Loyalty_customer_Yes
0,2,68,0.0,376.0,11.0,2983.0,4713.0,4185.947700,2015,18,...,0,0,1,0,0,0,0,0,0,1
1,24,51,0.0,397.0,12.0,7495.0,10352.0,9271.490256,2016,21,...,0,0,1,0,0,0,0,0,0,1
2,447,10,0.0,250.0,9.0,5752.0,7309.0,6785.701362,2015,19,...,0,0,0,0,0,0,0,0,0,1
3,23,48,0.0,144.0,13.0,5090.0,20814.0,13028.917824,2016,21,...,0,1,0,0,0,0,0,0,0,1
4,63,35,1.0,211.0,4.0,2430.0,9261.0,906.553935,2016,22,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6363,24,47,0.0,614.0,10.0,8174.0,11266.0,10277.520192,2016,19,...,0,0,0,0,0,0,0,0,1,1
6364,55,35,0.0,269.0,5.0,3564.0,4920.0,4501.837200,2015,15,...,0,0,0,0,0,0,0,0,0,1
6365,358,29,0.0,283.0,3.0,5303.0,14614.0,10218.878775,2015,17,...,0,0,0,0,0,0,0,1,0,0
6366,452,8,0.0,267.0,3.0,4334.0,5849.0,5359.493997,2015,4,...,0,0,0,0,0,0,0,1,0,1
6367,58,94,0.0,614.0,7.0,3975.0,5383.0,5220.013568,2016,19,...,0,0,0,0,0,0,0,0,1,1

In [77]:
train.isna().sum()

Market_Category                   0
Demand                            0
Discount_avail                    0
charges_1                         0
charges_2_percent                 0
Minimum_price                    38
Maximum_price                   340
Selling_Price                     0
year                              0
hour                              0
Grade_1                           0
Grade_2                           0
Grade_3                           0
Product_Category_Cosmetics        0
Product_Category_Educational      0
Product_Category_Fashion          0
Product_Category_Home_decor       0
Product_Category_Hospitality      0
Product_Category_Organic          0
Product_Category_Pet_care         0
Product_Category_Repair           0
Product_Category_Technology       0
Loyalty_customer_Yes              0
dtype: int64

In [78]:
train = train.dropna()
train.shape

(5939, 23)

In [79]:
train.groupby(train["Market_Category"]).Selling_Price.mean()

Market_Category
0      4935.559276
1      3136.754058
2      5622.707932
3      2880.804777
6      5157.042294
          ...
467    5085.842672
468    4766.144491
469    4833.912544
470    3486.688417
471    2314.575584
Name: Selling_Price, Length: 246, dtype: float64

In [80]:
train.isna().sum()

Market_Category                 0
Demand                          0
Discount_avail                  0
charges_1                       0
charges_2_percent               0
Minimum_price                   0
Maximum_price                   0
Selling_Price                   0
year                            0
hour                            0
Grade_1                         0
Grade_2                         0
Grade_3                         0
Product_Category_Cosmetics      0
Product_Category_Educational    0
Product_Category_Fashion        0
Product_Category_Home_decor     0
Product_Category_Hospitality    0
Product_Category_Organic        0
Product_Category_Pet_care       0
Product_Category_Repair         0
Product_Category_Technology     0
Loyalty_customer_Yes            0
dtype: int64

In [81]:
from sklearn.model_selection import train_test_split

In [82]:
train_split, valid = train_test_split(train, train_size = 0.8)
train_y =  train_split["Selling_Price"]
train_x = train_split.loc[:, train_split.columns != 'Selling_Price']
valid_y =  valid["Selling_Price"]
valid_x = valid.loc[:, valid.columns != 'Selling_Price']

In [83]:
from sklearn.linear_model import LinearRegression

In [84]:
linear_regression_model=LinearRegression()

In [85]:
linear_regression_model.fit(train_x,train_y)

LinearRegression()

In [86]:
linear_regression_model.intercept_

-197898.7828329365

In [87]:
lr_predicted_train=abs(linear_regression_model.predict(train_x))
lr_predicted_valid=abs(linear_regression_model.predict(valid_x))

In [91]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_log_error

In [89]:
rmse1 = np.sqrt(mean_absolute_error(train_y, lr_predicted_train))
rmse2 = np.sqrt(mean_absolute_error(valid_y, lr_predicted_valid))
print("train_rmse =", rmse1)
print("valid_rmse =", rmse2)

train_rmse = 19.878492797673772
valid_rmse = 19.754965296105713

In [92]:
RMSLE = np.sqrt(mean_squared_log_error(train_y,lr_predicted_train))
score1 = max(0,100 - RMSLE)
print("train_score =", score1)
RMSLE = np.sqrt(mean_squared_log_error(valid_y,lr_predicted_valid))
score2 = max(0,100 - RMSLE)
print("valid_score =", score2)

train_score = 99.52633635060867
valid_score = 99.53809121101986

In [93]:
valid_x

,Market_Category,Demand,Discount_avail,charges_1,charges_2_percent,Minimum_price,Maximum_price,year,hour,Grade_1,...,Product_Category_Cosmetics,Product_Category_Educational,Product_Category_Fashion,Product_Category_Home_decor,Product_Category_Hospitality,Product_Category_Organic,Product_Category_Pet_care,Product_Category_Repair,Product_Category_Technology,Loyalty_customer_Yes
3860,444,100,1.0,189.0,2.0,5503.0,7235.0,2015,1,1,...,0,0,0,0,0,0,1,0,0,1
1966,58,80,0.0,379.0,13.0,4206.0,5488.0,2016,6,0,...,0,0,1,0,0,0,0,0,0,1
3480,320,58,0.0,386.0,11.0,482.0,3422.0,2015,18,0,...,0,0,1,0,0,0,0,0,0,0
1293,55,64,0.0,398.0,12.0,973.0,2079.0,2015,21,0,...,0,0,1,0,0,0,0,0,0,1
5283,55,74,1.0,175.0,11.0,2440.0,5435.0,2016,2,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4222,416,12,0.0,198.0,1.0,2560.0,5325.0,2015,14,0,...,0,0,0,0,0,0,1,0,0,1
541,39,98,0.0,124.0,7.0,4999.0,8521.0,2016,22,0,...,0,0,0,0,0,0,1,0,0,1
1824,403,21,1.0,366.0,13.0,2326.0,3228.0,2016,6,0,...,0,0,1,0,0,0,0,0,0,0
4384,11,38,1.0,487.0,13.0,316.0,749.0,2015,17,0,...,0,0,0,0,0,0,0,0,1,1
458,471,14,0.0,153.0,7.0,2258.0,3099.0,2016,4,0,...,0,0,0,0,0,0,1,0,0,0

In [94]:
train_y

3168    5535.035100
3991    6024.733344
4548    5436.026343
6076    4665.383415
2890    6755.106600
           ...
2019    1449.176960
69      7576.722252
806     2279.722005
1286    3835.025750
2851    8090.450874
Name: Selling_Price, Length: 4751, dtype: float64

In [95]:
test

,Product_id,Stall_no,instock_date,Market_Category,Customer_name,Demand,Discount_avail,charges_1,charges_2_percent,Minimum_price,...,Product_Category_Cosmetics,Product_Category_Educational,Product_Category_Fashion,Product_Category_Home_decor,Product_Category_Hospitality,Product_Category_Organic,Product_Category_Pet_care,Product_Category_Repair,Product_Category_Technology,Loyalty_customer_Yes
0,SCHE4YSTDVPVZVXW,39.0,2016-01-13 07:45:08,205,Ivanka,90,0.0,380.0,16.0,2576.0,...,0,0,1,0,0,0,0,0,0,0
1,ACCEGCATKHNRXUHW,49.0,2015-08-23 20:37:05,3,Isaak,87,0.0,393.0,16.0,1202.0,...,0,0,1,0,0,0,0,0,0,1
2,NKCE6GJ5XVJDXNNZ,1.0,2015-11-14 18:12:39,183,Analiese,55,0.0,493.0,9.0,7175.0,...,0,0,0,0,0,0,0,0,1,0
3,NKCEB8BK3ZXDHDHM,8.0,2015-11-21 04:56:19,358,Rusty,86,0.0,303.0,16.0,5404.0,...,0,0,0,0,0,0,0,0,0,1
4,TOPEFDXSAHRNPF94,33.0,2015-05-06 15:09:46,167,Eloise,27,0.0,567.0,16.0,4069.0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3425,BBAE9K7BXFUTDNBK,9.0,2015-08-15 21:17:17,58,Davion,39,0.0,117.0,5.0,3094.0,...,0,0,0,0,0,0,1,0,0,1
3426,RTRDYPA4PJHCJCGF,30.0,2015-12-04 01:51:47,358,Maiah,17,0.0,509.0,6.0,3384.0,...,0,0,0,0,0,0,0,0,1,1
3427,TUNE8FWQBS7TVVT7,14.0,2016-03-28 20:55:47,106,Gwendolen,36,0.0,150.0,17.0,710.0,...,0,1,0,0,0,0,0,0,0,1
3428,NKCEGMUABCRGUZPE,1.0,2015-05-23 07:41:36,104,Addilynn,63,0.0,325.0,15.0,1477.0,...,0,0,0,0,0,0,0,0,0,1
3429,RNGE7M92KAQWUBCS,3.0,2015-08-16 22:19:46,165,Charlize,92,1.0,228.0,9.0,5538.0,...,0,0,0,0,0,0,0,1,0,0

In [111]:
columns = ["Stall_no", "Product_id", "instock_date",  "Customer_name",
           "month", "day"]
test_x = test.drop(columns=columns)

In [112]:
test_x

,Market_Category,Demand,Discount_avail,charges_1,charges_2_percent,Minimum_price,Maximum_price,year,hour,Grade_1,...,Product_Category_Cosmetics,Product_Category_Educational,Product_Category_Fashion,Product_Category_Home_decor,Product_Category_Hospitality,Product_Category_Organic,Product_Category_Pet_care,Product_Category_Repair,Product_Category_Technology,Loyalty_customer_Yes
0,205,90,0.0,380.0,16.0,2576.0,3340.0,2016,7,0,...,0,0,1,0,0,0,0,0,0,0
1,3,87,0.0,393.0,16.0,1202.0,1955.0,2015,20,0,...,0,0,1,0,0,0,0,0,0,1
2,183,55,0.0,493.0,9.0,7175.0,15715.0,2015,18,0,...,0,0,0,0,0,0,0,0,1,0
3,358,86,0.0,303.0,16.0,5404.0,13078.0,2015,4,0,...,0,0,0,0,0,0,0,0,0,1
4,167,27,0.0,567.0,16.0,4069.0,6244.0,2015,15,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3425,58,39,0.0,117.0,5.0,3094.0,4674.0,2015,21,0,...,0,0,0,0,0,0,1,0,0,1
3426,358,17,0.0,509.0,6.0,3384.0,14105.0,2015,1,0,...,0,0,0,0,0,0,0,0,1,1
3427,106,36,0.0,150.0,17.0,710.0,10894.0,2016,20,0,...,0,1,0,0,0,0,0,0,0,1
3428,104,63,0.0,325.0,15.0,1477.0,5165.0,2015,7,0,...,0,0,0,0,0,0,0,0,0,1
3429,165,92,1.0,228.0,9.0,5538.0,7506.0,2015,22,0,...,0,0,0,0,0,0,0,1,0,0

In [113]:
for col in test_x.columns:
    if (test_x[col].isnull().sum()>0):
        test_x.loc[test_x[col].isnull(),col]=train[col].mean()

In [126]:
test_predicted = linear_regression_model.predict_proba(test_x)
for i in range(len(test_predicted)):
    if test_predicted[i] < 0:
        test_predicted[i] = 0.0
test_predicted_id = pd.DataFrame(data = test.Product_id)

test_predicted_id["Selling_Price"] = test_predicted

AttributeError: 'LinearRegression' object has no attribute 'predict_proba'

In [115]:
test_predicted

array([ 3687.19611253,  2335.50619544, 10965.43603728, ...,
        5627.51633848,  3778.61339221,  1975.53575249])

In [116]:
test[['Selling_Price']] = test_predicted

/Users/girishelangovan/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:659: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[k] = np.nan
<ipython-input-116-6be4fc9e4a73>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test[['Selling_Price']] = test_predicted
/Users/girishelangovan/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [117]:
test

,Product_id,Stall_no,instock_date,Market_Category,Customer_name,Demand,Discount_avail,charges_1,charges_2_percent,Minimum_price,...,Product_Category_Educational,Product_Category_Fashion,Product_Category_Home_decor,Product_Category_Hospitality,Product_Category_Organic,Product_Category_Pet_care,Product_Category_Repair,Product_Category_Technology,Loyalty_customer_Yes,Selling_Price
0,SCHE4YSTDVPVZVXW,39.0,2016-01-13 07:45:08,205,Ivanka,90,0.0,380.0,16.0,2576.0,...,0,1,0,0,0,0,0,0,0,3687.196113
1,ACCEGCATKHNRXUHW,49.0,2015-08-23 20:37:05,3,Isaak,87,0.0,393.0,16.0,1202.0,...,0,1,0,0,0,0,0,0,1,2335.506195
2,NKCE6GJ5XVJDXNNZ,1.0,2015-11-14 18:12:39,183,Analiese,55,0.0,493.0,9.0,7175.0,...,0,0,0,0,0,0,0,1,0,10965.436037
3,NKCEB8BK3ZXDHDHM,8.0,2015-11-21 04:56:19,358,Rusty,86,0.0,303.0,16.0,5404.0,...,0,0,0,0,0,0,0,0,1,9051.515898
4,TOPEFDXSAHRNPF94,33.0,2015-05-06 15:09:46,167,Eloise,27,0.0,567.0,16.0,4069.0,...,0,0,0,0,0,0,0,1,0,5560.340727
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3425,BBAE9K7BXFUTDNBK,9.0,2015-08-15 21:17:17,58,Davion,39,0.0,117.0,5.0,3094.0,...,0,0,0,0,0,1,0,0,1,4080.447587
3426,RTRDYPA4PJHCJCGF,30.0,2015-12-04 01:51:47,358,Maiah,17,0.0,509.0,6.0,3384.0,...,0,0,0,0,0,0,0,1,1,8731.049473
3427,TUNE8FWQBS7TVVT7,14.0,2016-03-28 20:55:47,106,Gwendolen,36,0.0,150.0,17.0,710.0,...,1,0,0,0,0,0,0,0,1,5627.516338
3428,NKCEGMUABCRGUZPE,1.0,2015-05-23 07:41:36,104,Addilynn,63,0.0,325.0,15.0,1477.0,...,0,0,0,0,0,0,0,0,1,3778.613392
3429,RNGE7M92KAQWUBCS,3.0,2015-08-16 22:19:46,165,Charlize,92,1.0,228.0,9.0,5538.0,...,0,0,0,0,0,0,1,0,0,1975.535752

In [118]:
df = test[["Product_id", "Selling_Price"]]

In [119]:
df

            Product_id  Selling_Price
0     SCHE4YSTDVPVZVXW    3687.196113
1     ACCEGCATKHNRXUHW    2335.506195
2     NKCE6GJ5XVJDXNNZ   10965.436037
3     NKCEB8BK3ZXDHDHM    9051.515898
4     TOPEFDXSAHRNPF94    5560.340727
...                ...            ...
3425  BBAE9K7BXFUTDNBK    4080.447587
3426  RTRDYPA4PJHCJCGF    8731.049473
3427  TUNE8FWQBS7TVVT7    5627.516338
3428  NKCEGMUABCRGUZPE    3778.613392
3429  RNGE7M92KAQWUBCS    1975.535752

[3430 rows x 2 columns]

In [120]:
df.to_csv("/Users/girishelangovan/Documents/inceptez_batch_16/Dataset/employee_attrition/halloween_res.csv",index = False)

In [121]:
test_predicted_id.to_csv("/Users/girishelangovan/Documents/inceptez_batch_16/Dataset/Halloween/halloween_res.csv", index = False)Halloween

In [124]:
sample=pd.read_csv("/Users/girishelangovan/Documents/inceptez_batch_16/Dataset/Halloween/Dataset/sample_submission.csv")

In [125]:
sample

         Product_id  Selling_Price
0  SCHE4YSTDVPVZVXW    3294.594688
1  ACCEGCATKHNRXUHW    1945.603968
2  NKCE6GJ5XVJDXNNZ   11871.830880
3  NKCEB8BK3ZXDHDHM    9421.143424
4  TOPEFDXSAHRNPF94    5717.420625

In [ ]:
test_probab = model.predict_proba(test_X)